@import '../../assets/styles/variables.scss';
.register_page {
  width: 100%;
  position: relative;
  background-color: #150e28;

  padding-bottom: 57px;
  padding-top: 72px;
  overflow: hidden;

  .sub_container {
    width: 95%;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .background_beem_left {
      background: url('../../../public/images/background_beem_left.png');
      background-repeat: no-repeat;
      background-blend-mode: hard-light;
      width: 1037px;
      height: 948px;
      flex-shrink: 0;
      position: absolute;
      top: -200px;
      left: 0px;
    }
    .image_section {
      width: 40%;
      position: relative;
      .star_1 {
        position: absolute;
        left: 118px;
        top: 40px;
      }
      .star_3 {
        position: absolute;
        right: -100px;
        bottom: 170px;
      }
      .star_2 {
        position: absolute;
        bottom: 30px;
        left: 120px;
      }

      .register_page_side_image {
        width: 717px;
        height: 717px;
      }
    }

    .form_section {
      width: 50%;
      height: 740px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.03);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 65px 92px;
      box-sizing: border-box;
      position: relative;
      .star_2_2 {
        position: absolute;
        right: 200px;
        top: 20px;
      }
      .star_4 {
        position: absolute;
        right: 100px;
        bottom: -10px;
      }
      .header_container {
        .register_header {
          color: #d434fe;
          font-family: $clash-bold;
          font-size: 32px;
          font-style: normal;
          line-height: normal;
          padding-bottom: 46px;
        }
        .be_part_of_this_movement {
          position: relative;
          padding-bottom: 19px;
          .image_container {
            position: absolute;
            left: 225px;
            top: -13px;
          }
          .text {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            span {
              border: 0px;
              border-bottom: 1px solid #d434fe;
              border-style: dashed;

              padding: 0px 70px;
            }
          }
        }
        .create_your_account_text {
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #fff;
        }
      }
    }
    .background_beem_right {
      background: url('../../../public/images/background_beem_right.png');
      background-repeat: no-repeat;
      background-blend-mode: hard-light;
      width: 1037px;
      height: 948px;
      flex-shrink: 0;
      position: absolute;
      top: 200px;
      right: -500px;
    }
  }
}
