.terms_section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 93px;
	padding-bottom: 78px;
	padding-left: 60px;
	padding-right: 60px;
	column-gap: 50px;
	.content {
		flex: 1 1 0;
		.section_heading {
			max-width: 300px;
			margin-bottom: 17px;
		}
		.last_updated {
			color: rgba(255, 255, 255, 0.75);
			margin-bottom: 30px;
		}
		.terms_wrapper {
			margin-top: 69px;
			border-radius: 5px;
			border: 1px solid #d434fe;
			background: rgba(217, 217, 217, 0.03);
			padding: 59px 72px;

			> span {
				display: block;
				margin-top: 24px;
				color: #d434fe;
			}
			.terms_heading {
				font-weight: 700;
			}
			.privacy_list {
				margin-top: 18px;
				margin-bottom: 24px;

				div {
					display: flex;
					column-gap: 14px;

					svg {
						margin-top: 5px;
					}
				}

				span {
					font-size: 14px;
					font-weight: 700;
					line-height: 30.296px;
				}
			}
		}
		.button_wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.image_wrapper {
		display: flex;
		justify-content: center;
		flex: 1 1 0;
		position: relative;

		img {
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 559px;
		}
	}

	@media (max-width: 767px) {
		flex-direction: column;
		.content {
			.section_heading,
			.section_paragraph {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}
		.image_wrapper {
			margin-top: 32px;
		}
	}
	@media (max-width: 655px) {
		.image_wrapper {
			max-width: 262px;
		}
	}
	@media (max-width: 500px) {
		.content .terms_wrapper {
			padding: 45px 15px;
		}
	}
	@media (max-width: 390px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
