@import '../../assets/styles/variables.scss';
.hero_section {
	padding-top: 32px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
	position: relative;

	.top_text {
		width: fit-content;
		margin-right: 55px;
		margin-bottom: 26px;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		span {
			text-align: center;
			font-size: 36px;
			font-style: italic;
			font-weight: 700;
		}
		svg {
			width: 0;
			opacity: 0;
			margin-left: auto;
		}
	}
	.hero_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 80px;
		.content {
			position: relative;
			flex: 1 1 0;
			.bulb-img,
			.chain-img,
			.strike-img {
				opacity: 0;
			}
			.bulb-img {
				position: absolute;
				right: 65px;
				top: -40px;
				@media (max-width: 767px) {
					width: 18px;
					right: 120px;
					top: -7px;
				}
			}
			.strike-img {
				position: absolute;
				right: -90px;
				top: 100px;
				@media (max-width: 767px) {
					width: 32px;
					right: 0px;
				}
			}
			.chain-img {
				position: absolute;
				right: -30px;
				top: 100px;
				@media (max-width: 767px) {
					width: 32px;
					right: 40px;
				}
			}
			.light_bg {
				z-index: -1;
				position: absolute;
			}
			h1 {
				max-width: 597px;
				font-family: $clash-bold;
				color: #fff;
				font-size: 80px;
				font-weight: 700;

				span:not(.word) {
					color: #d434fe;
				}
			}
			p {
				max-width: 522px;
				margin-top: 8px;
				margin-bottom: 41px;
				color: #fff;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 33.2px;
			}
			button {
				position: relative;
				top: 20px;
				opacity: 0;
				margin-bottom: 77px;
			}
			.count_down {
				font-family: 'Unica One', cursive;
				display: flex;
				column-gap: 20px;
				position: relative;
				top: 20px;
				opacity: 0;

				span {
					font-size: 64px;
					font-style: normal;
					font-weight: 400;
					line-height: 85.12px;

					small {
						font-family: 'Montserrat', sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 18.62px;
					}
				}
			}
		}
	}
	.hero_image {
		display: flex;
		justify-content: center;
		position: relative;
		top: 20px;
		opacity: 0;
		flex: 1 1 0;

		.particle_image {
			bottom: 0px;
			position: absolute;
			width: 80%;
			animation: imageRotation 100s linear infinite;
		}
		img {
			width: 100%;
		}
	}
	@media (max-width: 1025px) {
		.top_text {
			margin-right: auto;
		}
		.hero_content {
			.content {
				h1 {
					font-size: 60px;
					line-height: normal;
				}
			}
		}
	}
	@media (max-width: 767px) {
		padding-left: 15px;
		padding-right: 15px;

		.top_text {
			width: fit-content;
			margin-left: auto;
		}
		.hero_content {
			margin-top: 60px;
			padding-left: 0;
			flex-direction: column;

			.content {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
		}
	}
	@media (max-width: 681px) {
		.top_text {
			span {
				font-size: 20px;
			}
		}
	}
	@media (max-width: 655px) {
		.hero_content {
			.content {
				h1 {
					font-size: 32px;
				}
				p {
					font-size: 13px;
					margin-bottom: 24px;
				}
				button {
					margin-bottom: 14px;
				}
				.count_down span {
					font-size: 48px;
					line-height: 63.84px;
				}
			}
		}
		.hero_image {
			max-width: 419px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media (max-width: 390px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	@keyframes imageRotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}
