@import '../../assets/styles/variables';

.custom_input {
	position: relative;
	display: flex;
	flex-direction: column;
	label {
		display: block;
		margin-bottom: 5px;
	}

	> input,
	textarea {
		background: #fefefe;
		border: 1px solid $text-color;
		min-height: 48px;
		padding-left: 12px;
		padding-right: 12px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		// color: $text-grey;

		&:disabled {
			cursor: not-allowed;
			background: gray;
		}
		&::placeholder {
			color: #cbc9c9;
			font-size: 16px;
			font-weight: 300;
			line-height: normal;
		}
		&.error {
			transition: border-color 0.3s ease-out;
			border-color: red;
		}
	}
	.error-message {
		color: red;
		position: absolute;
		bottom: -20px;
		pointer-events: none;
	}
	textarea {
		padding-top: 12px;
		padding-bottom: 12px;
		resize: none;
		min-height: 143px;

		&:focus {
			outline: 0;
		}
	}
}
