@import '../../assets/styles/variables.scss';
.faq_section {
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 62px;
	padding-bottom: 78px;
	padding-left: 60px;
	padding-right: 60px;
	position: relative;

	.image_wrapper {
		display: flex;
		justify-content: center;
		width: 55%;

		img {
			max-width: 741px;
			width: 100%;
		}
	}
	.content {
		.section_heading {
			max-width: 253px;
			margin-bottom: 16px;
		}
		.section_paragraph {
			max-width: 342px;
			margin-bottom: 68px;
		}
		.faq_questions {
			display: flex;
			flex-direction: column;
			row-gap: 25px;
			.single_faq {
				cursor: pointer;
				display: flex;
				align-items: center;
				max-width: 427px;
				column-gap: 24px;
				padding-bottom: 13px;
				border-bottom: 1px solid #d434fe;
				span {
					font-weight: 400;
					line-height: 27.5px;
				}
				img {
					margin-left: auto;
				}
			}
		}
	}

	@media (max-width: 767px) {
		flex-direction: column;
		.section_heading,
		.section_paragraph {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.image_wrapper {
			margin-top: 24px;
		}
	}
	@media (max-width: 390px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
