.price_section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 62px;
	padding-bottom: 78px;
	padding-left: 60px;
	padding-right: 60px;
	background: #100b20;

	.image_wrapper {
		display: flex;
		justify-content: center;
		flex: 1 1 0;

		img {
			max-width: 548px;
			width: 100%;
		}
	}
	.header_mobile {
		display: none;
		@media (max-width: 1024px) {
			display: block;
		}
	}
	.content {
		flex: 1 1 0;
		.section_heading {
			max-width: 174px;
			margin-bottom: 16px;
		}
		.section_paragraph {
			max-width: 401px;
		}

		.positions {
			column-gap: 26px;
			margin-top: 83px;
			margin-top: 246px;
			display: flex;
			align-items: center;

			.position {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					position: absolute;
					z-index: 2;
				}

				&:nth-child(1),
				&:nth-child(3) {
					img {
						top: -80px;
						@media (max-width: 655px) {
							width: 100%;
							top: -45px;
						}
					}
					.details {
						height: 296px;
						border-radius: 8px;
						border: 1px solid #d434fe;
						background: rgba(212, 52, 254, 0.12);
						span:nth-child(1) {
							font-size: 36px;
							font-weight: 700;
							line-height: normal;
						}
						@media (max-width: 655px) {
							height: 125.671px;
							span:nth-child(1) {
								font-size: 12px;
							}
						}
					}
				}

				&:nth-child(2) {
					img {
						top: -140px;
						@media (max-width: 655px) {
							width: 130%;
							top: -50px;
						}
					}
					.details {
						height: 347px;
						border-radius: 8px;
						border: 1px solid #903aff;
						background: rgba(144, 58, 255, 0.12);
						span:nth-child(1) {
							font-size: 40px;
							font-weight: 700;
							line-height: normal;
						}
						span:nth-child(3) {
							color: #903aff;
						}
						@media (max-width: 655px) {
							height: 147px;
							span:nth-child(1) {
								font-size: 12px;
							}
						}
					}
				}

				.details {
					padding-right: 25px;
					padding-left: 25px;
					padding-bottom: 33px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-end;

					span:nth-child(2) {
						font-size: 24px;
						font-weight: 600;
						line-height: 51.936px;
					}
					span:nth-child(3) {
						color: #d434fe;
						font-size: 32px;
						font-weight: 700;
					}

					@media (max-width: 655px) {
						span:nth-child(2) {
							font-size: 12px;
							line-height: normal;
							margin-top: 8px;
							margin-bottom: 8px;
						}
						span:nth-child(3) {
							line-height: normal;
							font-size: 14px;
						}
						padding-left: 9px;
						padding-right: 9px;
						padding-bottom: 22px;
					}
				}
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction: column;
		.section_heading,
		.section_paragraph {
			text-align: center;
		}

		.content {
			.section_heading,
			.section_paragraph {
				display: none;
			}
		}
	}
	@media (max-width: 655px) {
		.image_wrapper {
			max-width: 321px;
		}

		.content {
			.positions {
				width: 100%;
				margin-top: 127px;
				img {
					width: 100%;
				}
			}
		}
	}
	@media (max-width: 390px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
