@import '../../assets/styles/variables.scss';
.app_header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 67px 80px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  .app_name {
    font-family: $clash-bold;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;

    span {
      color: #d434fe;
    }
  }
  nav {
    display: flex;
    align-items: center;
    column-gap: 56px;

    a {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }

    button {
      margin-left: 65px;
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}
