@import '../../assets/styles/variables.scss';
.rules_section {
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 62px;
	padding-bottom: 78px;
	padding-left: 60px;
	padding-right: 60px;

	.image_wrapper {
		display: flex;
		justify-content: center;

		flex: 1 1 0;

		img {
			max-width: 490px;
			width: 100%;
		}
	}
	.content {
		flex: 1 1 0;
		max-width: 535px;
		.section_heading {
			max-width: 170px;
		}
		p {
			margin-top: 16px;
			font-weight: 400;
			line-height: 27.5px;
		}
	}
}
