@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Unica+One&display=swap');
@import './assets/styles/clash-display.scss';
@import './assets/styles/variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// transition: 0.2s ease-in-out;
}

html {
	// cursor: none;
	scroll-behavior: smooth;
	background: #150e28;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-variant: normal;
	font-size: 14px;
	max-width: 1512px;
	margin: 0 auto;
	color: #fff;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	color: inherit;
}

input {
	outline: 0;
}
ul,
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	width: 172px;
	height: 53px;
	border-radius: 4px;
	border-radius: 4px;
	border: 2px solid #9a39ff;
	background: transparent;
	position: relative;
	.w-100 {
		width: 100%;
	}
	&::before {
		z-index: -1;
		content: '';
		width: 0;
		background: linear-gradient(270deg, #903aff 0%, #d434fe 56.42%, #ff26b9 99.99%, #fe34b9 100%);
		height: 100%;
		position: absolute;
		left: unset;
		right: 0;
		transition: all 0.2s linear;
	}
	&:hover {
		&::before {
			left: 0;
			right: unset;
			width: 100%;
		}
	}

	&:disabled {
		cursor: not-allowed;
	}
	@media (max-width: 655px) {
		width: 152px;
		height: 46.837px;
	}
}

.section_heading {
	font-family: $clash-bold;
	font-size: 32px;
	font-weight: 700;

	> span:not(.word) {
		color: #d434fe;
	}
	@media (max-width: 655px) {
		font-size: 20px;
	}
}
.section_paragraph {
	color: #fff;
	font-weight: 400;
	line-height: 27.5px;

	> span:not(.word) {
		color: #d434fe;
	}
}

.mt-42 {
	margin-top: 42px;
}

.active_link.contact {
	background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.loader {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: relative;
	border-top: 5px solid rgba(0, 0, 0, 0.03);
	border-right: 5px solid rgba(0, 0, 0, 0.03);
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load 1.1s infinite linear;
}
@keyframes load {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.category_options {
	padding-top: 30px !important;
	background-color: #150e28;
	height: 100px;

	&:hover {
		background-color: #903aff;
	}
}

.light_bg {
	width: 80%;
	position: absolute;
	left: 0;
	top: 0;
}
