@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import './assets/styles/clash-display.scss';
@import './assets/styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: 0.2s ease-in-out;
}

html {
  // cursor: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #ffffff;
  font-variant: normal;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: inherit;
}

input {
  outline: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  outline: 0;
  border: 0;
}
