@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Unica+One&display=swap');
@import './assets/styles/clash-display.scss';
@import './assets/styles/variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// transition: 0.2s ease-in-out;
}

html {
	// cursor: none;
	scroll-behavior: smooth;
	background: #150e28;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-variant: normal;
	font-size: 14px;
	max-width: 1512px;
	margin: 0 auto;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	color: inherit;
}

input {
	outline: 0;
}
ul,
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
button {
	outline: 0;
	border: 0;
	cursor: pointer;
	font-weight: 400;
	background: linear-gradient(270deg, #903aff 0%, #d434fe 56.42%, #ff26b9 99.99%, #fe34b9 100%);
	color: #fff;
	width: 172px;
	height: 53px;
	border-radius: 4px;
	.w-100 {
		width: 100%;
	}
}

.section_heading {
	font-family: $clash-bold;
	font-size: 32px;
	font-weight: 700;

	> span {
		color: #d434fe;
	}
}
.section_paragraph {
	color: #fff;
	font-weight: 400;
	line-height: 27.5px;

	> span {
		color: #d434fe;
	}
}
