.timeline_section {
	padding-top: 62px;
	padding-bottom: 78px;
	padding-left: 60px;
	padding-right: 60px;
	.section_heading {
		width: fit-content;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 12px;
	}
	.section_paragraph {
		text-align: center;
		max-width: 346px;
		width: fit-content;
		margin: 0 auto;
	}
	.timeline_mobile {
		display: none;
	}

	.timeline_wrapper {
		margin-top: 91px;
		.single_timeline {
			margin-bottom: 11px;
			display: flex;
			column-gap: 80px;
			align-items: flex-end;

			.left_side {
				span {
					display: block;
					text-align: right;
				}
			}

			.details {
				flex: 4 1 0;
				display: flex;
				flex-direction: column;
				span:nth-child(1) {
					color: #d434fe;
					font-size: 24px;
					font-weight: 700;
					line-height: normal;
					margin-bottom: 12px;
				}
				span:nth-child(2) {
					font-size: 14px;
					font-weight: 400;
					line-height: 23.926px;
				}
			}
			.date {
				flex: 4 1 0;
				color: #d434fe;
				font-size: 24px;
				font-weight: 700;
				line-height: normal;
			}
			.center {
				// flex: 1 1 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				.line {
					height: 86px;
					width: 4px;
					background: #d434fe;
					margin-bottom: 11px;
				}
				.number {
					width: 53px;
					height: 53px;
					border-radius: 50%;
					background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 24px;
					font-weight: 700;
					line-height: normal;
				}
			}
		}
	}
	@media (max-width: 1024px) {
		.timeline_wrapper .single_timeline {
			column-gap: 30px;
		}
	}
	@media (max-width: 655px) {
		.timeline_wrapper {
			display: none;
		}
		.timeline_mobile {
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			margin-top: 59px;
			display: flex;
			flex-direction: column;
			row-gap: 27px;

			.single_timeline {
				display: flex;
				column-gap: 8px;

				.numbering {
					display: flex;
					align-items: center;
					flex-direction: column;
					row-gap: 4px;

					> div {
						height: 100%;
						background: #d434fe;
						width: 2px;
					}

					span {
						display: flex;
						align-items: center;
						justify-content: center;
						background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
						min-width: 19.32px;
						min-height: 19.32px;
						border-radius: 50%;
						font-size: 12px;
						font-weight: 700;
						line-height: normal;
					}
				}
				.details {
					display: flex;
					flex-direction: column;
					row-gap: 28px;

					h5,
					.date {
						display: block;
						color: #d434fe;
						font-size: 12px;
						font-weight: 700;
						line-height: normal;
					}
					p {
						max-width: 279px;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: 20.508px;
					}
				}
			}
		}
	}
	@media (max-width: 390px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
